.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: rem(24);
	min-width: rem(205);
	background-color: #444240;
	color: #ffffff;
	transition: all 0.3s ease 0s;
}

.button:hover {
	background-color: #676666;
}

.subtitle {
	font-family: 'Playfair+Display', serif;
	font-size: rem(30);
	line-height: percent(40, 30);
	color: #1b1a17;
	white-space: nowrap;
}
