.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: rem(24);
	min-width: rem(205);
	background-color: #444240;
	color: #ffffff;
	transition: all 0.3s ease 0s;
}

.button:hover {
	background-color: #676666;
}