
.footer {
	background-color: #444240;
	color: #ffffff;
	min-height: rem(275);

	&__body {
		display: flex;
		justify-content: space-around;
		padding-top: rem(70);
	}

	&__main {
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		margin-top: rem(28);
		font-size: rem(12);
		line-height: percent(14, 12);
		color: rgba(255, 255, 255, 0.75);
	}

	&__about {
	}

	&__list {
		margin-top: rem(33);
	}

	&__link {
		display: inline-block;
		font-size: rem(12);
		line-height: percent(14, 12);
		color: rgba(255, 255, 255, 0.75);
		padding: rem(5) 0;
		transition: all 0.3s ease 0s;
	}
	&__link:hover {
		color: rgba(255, 255, 255, 1);
	}

	&__buyers {
	}

	&__payment {
	}
}
.footer-column {
 & h2 {
	margin-top: rem(4);
	font-weight: 700;
	font-size: rem(14);
	line-height: percent(16, 14);
	letter-spacing: 0.07em;
	text-transform: uppercase;
 }
}
.foorer {

	&__logo {
		display: flex;
		gap: rem(5);
		align-items: center;
		font-family: 'Playfair+Display', serif;
		font-size: rem(14);
		line-height: percent(19, 14);;
		letter-spacing: 0.14em;
		& img {
			width: rem(25);
			height: rem(25);
			filter: invert(1) contrast(2);
		}
	}
}
.contacts-footer {

	&__item {
		display: inline-block;
		font-size: rem(12);
		line-height: percent(14, 12);
		color: rgba(255, 255, 255, 0.75);
		padding: rem(5) 0;
		transition: all 0.3s ease 0s;
	}
	&__item:hover {
		color: rgba(255, 255, 255, 1);
	}
}

@media (max-width: $mobile) { 

	.footer {
		&__body {
			flex-direction: column;
		}
	}

	.footer {
		padding-top:rem(30);
	
			&__body {
				padding-top: rem(0);
				padding-bottom: rem(30);
			}
			& a {
				font-size: rem(18);
				padding: 10px;
			}
		}

		.footer-column {
			padding-bottom: rem(30);
			& h2 {
			 font-size: rem(18);
			}
		 }
}