.wrapper {
}
//========================================================
// !HEADER
//========================================================
.header {
	z-index: 10;
	background-color: $mainBackgroundColor;

		&__container {
		}

		&__body {
			min-height: rem(85);
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__logo {
			display: flex;
			gap: 5px;
			align-items: center;
			font-family: 'Playfair+Display', serif;
			font-size: rem(12);
			line-height: percent(16, 12);
			letter-spacing: 0.14em;
			color: #555248;
		}

		&__menu {
			flex: 0 1 rem(422);
			margin: 0 10px;
		}

		&__actions {
			flex: 0 0 rem(100);
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
}
.menu {

		&__body {
		}

		&__list {
			display: flex;
			justify-content: space-between;
			font-size: rem(14);
			line-height: percent(16, 14);
		}

		&__item:not(:last-child) {
			padding-right: rem(10);
		}

		&__link {
			color: #555248;
			transition: all 0.3s ease 0s;
			&:hover {
				color: #000000;
			}
		}
}
.actions-header {

		&__search {
		}

		&__favorites {
			position: relative;
			& span {
				position: absolute;
				top: rem(-6);
				right: rem(-6);
				background-color: #e6c8b4;
				color: #1B1A17;
				font-size: rem(8);
				line-height: percent(9, 8);
				width: rem(13);
				height: rem(13);
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				padding-top: 2px;
			}

		}

		&__basket {
			position: relative;
			& span {
				position: absolute;
				top: rem(-6);
				right: rem(-6);
				background-color: #e6c8b4;
				color: #1B1A17;
				font-size: rem(8);
				line-height: percent(9, 8);
				width: rem(13);
				height: rem(13);
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				padding-top: 2px;
			}
		}
}


//========================================================
// !MAIN
//========================================================

.page {

	&__container {
	}

	&__header {
		max-height: rem(798);
		background-color: $mainBackgroundColor;
	}
	&__popular {
		min-height: rem(720);
		background-color: #ffffff;

	}
	&__quality {
		min-height: rem(520);
		background-color: $mainBackgroundColor;
	}
	&__social {
	}
}

//========================================================
// !SECTION .header-page
//========================================================
.header-page {

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: rem(83);
		overflow: hidden;
	}

	&__content p {
		line-height: percent(21, 14);
		color: rgba(27, 26, 23, 0.82);
		max-width: rem(250);
	}

	&__title {
		font-family: 'Playfair+Display', serif;
		font-size: rem(45);
		line-height: percent(60, 45);
		color: #1b1a17;
		white-space: nowrap;
		margin-bottom: rem(16);
		position: relative;
	}
	&__title::before {
		content: '';
		position: absolute;
		width: rem(50);
		height: rem(1);
		left: rem(-65);
		top: 50%;
		background-color: #8B8371;
	}

	&__subtitle {
		margin-bottom: rem(39);
	}

	&__button {
		margin-top: rem(64);
	}

	&__images {
		display: flex;
		align-items: flex-start;
		position: relative;
		
	}

	&__price {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		gap: 8px;
		position: relative;
		font-family: 'Prata';
		line-height: percent(22, 16);
		color: #1B1A17;
		white-space: nowrap;
		margin-top: rem(138);
	}
	&__price::after {
		content: url(../img/icons/ruble.svg);
	}

	&__price::before {
		content: '';
		position: absolute;
		width: rem(50);
		height: rem(1);
		left: rem(83);
		top: 50%;
		background-color: #8B8371;
	}

	&__image {
		z-index: 1;
	}

	&__backdrop {
		position: absolute;
		top: 50%;
		left: -70%;
		transform: translate(70%, -50%);
		width: rem(500);
		height: rem(1000);
		background: linear-gradient(180deg, rgba(234, 227, 212, 0) 0%, #EAE3D4 100%);
		z-index: 0;
		overflow: hidden;
		border-radius: 100% 0 0 100% / 50% 0 0 50%;
	}
	&__backdrop::before {
		
	}

	&__detail {
		align-self: flex-end;
		font-family: 'Prata';
		line-height: percent(22, 16);
		color: #1B1A17;
		white-space: nowrap;
		margin-bottom: rem(138);
		position: relative;
	}
	&__detail::before {
		content: '';
		position: absolute;
		width: rem(50);
		height: rem(1);
		left: rem(-65);
		top: 50%;
		background-color: #8B8371;
	}
}

//========================================================
// !SECTION .popular-page
//========================================================

.popular-page {

	&__body {

	}

	&__title {
		padding: rem(50) 0 0 0;
		text-align: center;
	}

	&__actions {
		text-align: right;
	}

	&__items {
		margin-top: rem(70);
	}
}

.actions-popular {

	&__show {
		position: relative;
	}
	&__show::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #C4C0B6;
		bottom: -10px;
		left: 0;
		cursor: default;

	}
}
.items-popular {

	&__row {
		display: flex;
		gap: rem(30);
	}

	&__item {
		padding: rem(45) rem(40);
		flex: 0 1 33.333%;
		background-color: $mainBackgroundColor;
	}
}
.item-popular {

	&__content {
	 min-height: rem(400);
	}

	&__title {
		font-size: rem(14);
		line-height: percent(24, 14);
		letter-spacing: 0.03em;
		font-weight: 700;
		color: rgba(27, 26, 23, 0.82);
		font-family: 'Playfair+Display', serif;
		margin-bottom: rem(10);
	}

	&__price {
		font-family: 'Prata', serif;
		font-size: rem(12);
		line-height: percent(16, 12);
		color: rgba(27, 26, 23, 0.82);
	}
	&__price::after {
		content: '₽';
		font-size: rem(14);
		padding-left: rem(4);
		
	}

	&__image {
		position: relative;
	}
	&__image::after {
		content: '';
		position: absolute;
		inset: 0;
  	border-radius: 50%; 
		width: rem(313);
		height: rem(313);
  	padding: rem(1); 
  	background:linear-gradient(-90deg,#E2D0C4,#ffffff); 
  	-webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
	}
	&__image img {
		width: rem(313);
		height: rem(313);
	}

	&__actions {
		margin-top: rem(18);
		padding-left: rem(48);

	}

	&__info {
		font-family: 'Playfair+Display';
		font-size: rem(16);
		line-height: percent(21, 16);
		color: #1B1A17;
		position: relative;
	}

	&__info::before {
		content: '';
		position: absolute;
		width: rem(30);
		height: rem(1);
		left: rem(-48);
		top: 50%;
		background-color: #8B8371;
	}
}


//========================================================
// !SECTION .quality-page
//========================================================

.quality-page {

	&__body {
		height: rem(520);
		position: relative;
		overflow: hidden;
	}
	&__body::after {
content: '';
position: absolute;
top: 0;
width: 35%;
height: 100%;
background-color: #F7F5EF;
	}


	&__row {
		height: 100%;
		display: flex;
	justify-content: center;
	align-items: center;
	gap: rem(70);
	position: relative;
	}

	&__slider {
		z-index: 1;
	}

	&__content {
		max-width: rem(380);
		
	}
	&__circle-big {
		position: absolute;
		top:0;
		right: 10%;
	}
	&__circle-big::after {
		content: '';
		position: absolute;
		inset: 0;
  	border-radius: 50%; 
		width: rem(744);
		height: rem(744);
  	padding: rem(1); 
  	background:linear-gradient(90deg,#d4d098,#ffffff); 
  	-webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
	}

	&__circle-small {
		position: absolute;
		top:-40%;
		right: 10%;
	}
	&__circle-small::after {
		content: '';
		position: absolute;
		inset: 0;
  	border-radius: 50%; 
		width: rem(365);
		height: rem(365);
  	padding: rem(1); 
  	background:linear-gradient(90deg,#d4d098,#ffffff); 
  	-webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 

	}

	&__title {
		margin-bottom: rem(36);
	}

	&__text {
		margin-bottom: rem(45);
		line-height: 150%;
	}

	&__button {
		background-color: #D4B098;
	}
}
.slider-quality {
	margin-top: rem(30);
	&__image {
	}

	&__controlls {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: rem(20);
		margin-top: rem(20);
		margin-right: rem(83);
		& img {
			padding: rem(5);
			cursor: pointer;
		}
	}
}

//========================================================
// !SECTION .social-page
//========================================================

.social-page {

	&__body {
		padding: rem(80) 0;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__content {
	}

	&__title {
		margin-bottom: rem(30);
	}

	&__text {
		margin-bottom: rem(120);
		font-size: rem(16);
		line-height: percent(27, 16);
		color: #444240;
		& a {
			font-weight: 700;
		}
	}

	&__social {
		display: flex;
		align-items: center;
		gap: rem(20);
		& img {
			cursor: pointer;
		}
	}

	&__images {
		display: flex;
		gap: rem(10);
		& span {
			display: flex;
			flex-direction: column;
			gap: rem(10);
		}
	}
	
}


//========================================================
// !FOOTER
//========================================================
.footer {
	background-color: #444240;
	color: #ffffff;
	min-height: rem(275);

	&__container {
	}

	&__body {
		display: flex;
		justify-content: space-around;
		padding-top: rem(70);
	}

	&__main {
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		margin-top: rem(28);
		font-size: rem(12);
		line-height: rem(14);
		color: rgba(255, 255, 255, 0.75);
	}

	&__about {
	}

	&__list {
		margin-top: rem(33);
	}

	&__link {
		display: inline-block;
		font-size: rem(12);
		line-height: rem(14);
		color: rgba(255, 255, 255, 0.75);
		padding: rem(5) 0;
		transition: all 0.3s ease 0s;
	}
	&__link:hover {
		color: rgba(255, 255, 255, 1);
	}

	&__buyers {
	}

	&__payment {
	}
}
.footer-column {
 & h2 {
	margin-top: rem(4);
	font-weight: 700;
	font-size: rem(14);
	line-height: rem(16);
	letter-spacing: 0.07em;
	text-transform: uppercase;
 }
}
.foorer {

	&__logo {
		display: flex;
		gap: rem(5);
		align-items: center;
		font-family: 'Playfair+Display', serif;
		font-size: rem(14);
		line-height: rem(19);
		letter-spacing: 0.14em;
		& img {
			width: rem(25);
			height: rem(25);
			filter: invert(1) contrast(2);
		}
	}
}
.contacts-footer {

	&__item {
		display: inline-block;
		font-size: rem(12);
		line-height: rem(14);
		color: rgba(255, 255, 255, 0.75);
		padding: rem(5) 0;
		transition: all 0.3s ease 0s;
	}
	&__item:hover {
		color: rgba(255, 255, 255, 1);
	}
}

