<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/logo.svg" type="image/x-icon">
	<title>Plants</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@400;700&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="header__container">
				<div class="header__body">
					<a href="index.html" class="header__logo">
						<img src="img/logo.svg" alt="logo">
						<span>Plants</span>
					</a>
					<div class="header__menu menu">
						<div class="menu__icon">
							<span></span>
							<span></span>
						</div>
						<nav class="menu__body">
							<ul class="menu__list">
								<li class="menu__item">
									<a href="index.html#" class="menu__link">Home</a>
								</li>
								<li class="menu__item">
									<a href="index.html#about" class="menu__link">About us</a>
								</li>
								<li class="menu__item">
									<a href="index.html#service" class="menu__link">Service</a>
								</li>
								<li class="menu__item">
									<a href="index.html#prices" class="menu__link">Price</a>
								</li>
								<li class="menu__item">
									<a href="index.html#contacts" class="menu__link">Contacts</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="main__body">
				<section id="welcome" class="welcome">
					<div class="welcome__container">
						<div class="welcome__row">
							<div class="welcome__image image-welcome">
								<img src="img/welcome/leafs.svg" alt="leafs">
							</div>
							<div class="welcome__content">
								<h1>
									We grow <span>plants</span> and give you oxygen
								</h1>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
									been the industry's standard dummy text ever since the 1500s.</p>
								<a href="#" class="welcome__button button">
									Learn more
								</a>
							</div>
						</div>
					</div>
				</section>
				<section id="about" class="about">
					<div class="about__container">
						<div class="about__row">
							<div class="about__content">
								<h2 class="title">
									We are <span>professional experienced</span> gardeners
								</h2>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
									has
									been the industry's standard dummy text ever since the 1500s, when an unknown printer
									took a
									galley of type and scrambled it to make a type specimen book. It has survived not only
									five
									centuries, but also the leap into electronic typesetting, remaining essentially
									unchanged.
								</p>
							</div>
							<div class="about__image">
								<img src="img/about/houseplant.png" alt="houseplant">
							</div>
						</div>
					</div>
				</section>
				<section id="service" class="service">
					<div class="service__container">
						<div class="service__header">
							<h2 class="title">Service and our <br>projects</h2>
							<div class="service__buttons">
								<span class="service__button gardens__btn">Gardens</span>
								<span class="service__button lawn__btn">Lawn</span>
								<span class="service__button planting__btn">Planting</a>
							</div>
						</div>
						<div class="service__content content-service">
							<div class="content-service__items">
								<article class="content-service__item item-service gardens">
									<div class="item-service__img">
										<img src="img/service/garden_care_01.jpg" alt="image garden care">
									</div>
									<div class="item-service__body">
										<div class="item-service__content">
											<h5 class="item-service__title">Garden care</h5>
											<p class="item-service__text">Lorem Ipsum has been the industry</p>
										</div>
									</div>
								</article>
								<article class="content-service__item item-service planting">
									<div class="item-service__img">
										<img src="img/service/planting_01.jpg" alt="image planting">
									</div>
									<div class="item-service__body">
										<div class="item-service__content">
											<h5 class="item-service__title">Planting</h5>
											<p class="item-service__text">Lorem Ipsum has been the industry</p>
										</div>
									</div>
								</article>
								<article class="content-service__item item-service lawn">
									<div class="item-service__img">
										<img src="img/service/lawn_care_01.jpg" alt="image lawn care">
									</div>
									<div class="item-service__body">
										<div class="item-service__content">
											<h5 class="item-service__title">Lawn care</h5>
											<p class="item-service__text">Lorem Ipsum has been the industry</p>
										</div>
									</div>
								</article>
								<article class="content-service__item item-service planting">
									<div class="item-service__img">
										<img src="img/service/planting_02.jpg" alt="image planting">
									</div>
									<div class="item-service__body">
										<div class="item-service__content">
											<h5 class="item-service__title">Planting</h5>
											<p class="item-service__text">Lorem Ipsum has been the industry</p>
										</div>
									</div>
								</article>
								<article class="content-service__item item-service gardens">
									<div class="item-service__img">
										<img src="img/service/garden_care_02.jpg" alt="image garden care">
									</div>
									<div class="item-service__body">
										<div class="item-service__content">
											<h5 class="item-service__title">Garden care</h5>
											<p class="item-service__text">Lorem Ipsum has been the industry</p>
										</div>
									</div>
								</article>
								<article class="content-service__item item-service planting">
									<div class="item-service__img">
										<img src="img/service/planting_03.jpg" alt="image planting">
									</div>
									<div class="item-service__body">
										<div class="item-service__content">
											<h5 class="item-service__title">Planting</h5>
											<p class="item-service__text">Lorem Ipsum has been the industry</p>
										</div>
									</div>
								</article>
							</div>
						</div>
					</div>
				</section>
				<section id="prices" class="prices">
					<div class="prices__container">
						<div class="prices__row">
							<div class="prices__detail detail-prices">
								<div class="detail-prices__body">
									<h2 class="detail-prices__title">Prices</h2>
									<div class="detail-prices__accordeon accordeon">
										<div class="accordeon-item">
											<div class="accordeon-button">
												<h3>Basics</h3>
												<span>
													<img class="accordeon-button__img" src="img/prices/arrow.svg" alt="arrow">
												</span>
											</div>
											<div class="accordeon-content">
												<p class="accordeon-content__text">Release of Letraset sheets containing
													Lorem Ipsum
													passages, and more recently</p>
												<p class="accordeon-content__price"><span>$15</span> / per hour</p>
												<a href="index.html#contacts">Order</a>
											</div>
										</div>
										<div class="accordeon-item">
											<div class="accordeon-button">
												<h3>Standard</h3>
												<span><img class="accordeon-button__img" src="img/prices/arrow.svg" alt="arrow">
												</span>
											</div>
											<div class="accordeon-content">
												<p class="accordeon-content__text">Release of Letraset sheets containing
													Lorem Ipsum
													passages, and more recently</p>
												<p class="accordeon-content__price"><span>$25</span> / per hour</p>
												<a href="index.html#contacts">Order</a>
											</div>
										</div>
										<div class="accordeon-item">
											<div class="accordeon-button">
												<h3>Pro care</h3>
												<span>
													<img class="accordeon-button__img" src="img/prices/arrow.svg" alt="arrow">
												</span>
											</div>
											<div class="accordeon-content">
												<p class="accordeon-content__text">Release of Letraset sheets containing
													Lorem Ipsum
													passages, and more recently</p>
												<p class="accordeon-content__price"><span>$35</span> / per hour</p>
												<a href="index.html#contacts">Order</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="prices__contact contact-prices">
								<h2 class="contact-prices__title">Our best <span>gardeners</span> are<br> ready to
									help you</h2>
								<a href="#" class="contact-prices__button button"> Contact us</a>
								<img width="152" height="175" src="img/prices/leafs2.png" alt="leafs">
							</div>
						</div>
					</div>
				</section>
				<section id="contacts" class="contacts">
					<div class="contacts__container">
						<div class="contacts__body">
							<h2 class="contacts__title title">Contact us</h2>
							<div class="contacts__row">
								<div class="contacts__image">
									<img src="img/contacts/contact_woman.png" class="contacts__image" alt="woman image">
								</div>
								<div class="contacts__select select-contact">
									<div class="select-contact__select">
										<div class="select-contact__button button-city">
											<h3 class="button-city__name">City</h3>
											<span><img class="button-city__img" src="img/prices/arrow.svg" alt="arrow"></span>
										</div>
										<ul class="select-contact__list">
											<li><span class="select-contact__link" id="1">Canandaigua, NY</span>
											</li>
											<li><span class="select-contact__link" id="2">New York City</span></li>
											<li><span class="select-contact__link" id="3">Yonkers, NY</span></li>
											<li><span class="select-contact__link" id="4">Sherrill, NY</span></li>
										</ul>
										<ul class="select-contact__city-list city-list">
											<li class="city-list__item city-item" id="11">
												<div class="city-item__body">
													<table class="city-item__table table-city">
														<tr>
															<td class="table-city__title">City:</td>
															<td class="table-city__data">Canandaigua, NY</td>
														</tr>
														<tr>
															<td class="table-city__title">Phone:</td>
															<td class="table-city__data">+1 585 393 0001</td>
														</tr>
														<tr>
															<td class="table-city__title">Office adress:</td>
															<td class="table-city__data">151 Charlotte Street</td>
														</tr>
													</table>
													<a href="tel:+15853930001" class="city-item__button">Call us</a>
												</div>
											</li>
											<li class="city-list__item city-item" id="12">
												<div class="city-item__body">
													<table class="city-item__table table-city">
														<tr>
															<td class="table-city__title">City:</td>
															<td class="table-city__data">New York City</td>
														</tr>
														<tr>
															<td class="table-city__title">Phone:</td>
															<td class="table-city__data">+1 212 456 0002</td>
														</tr>
														<tr>
															<td class="table-city__title">Office adress:</td>
															<td class="table-city__data">9 East 91st Street</td>
														</tr>
													</table>
													<a href="tel:+12124560002" class="city-item__button">Call us</a>
												</div>
											</li>
											<li class="city-list__item city-item" id="13">
												<div class="city-item__body">
													<table class="city-item__table table-city">
														<tr>
															<td class="table-city__title">City:</td>
															<td class="table-city__data">Yonkers, NY</td>
														</tr>
														<tr>
															<td class="table-city__title">Phone:</td>
															<td class="table-city__data">+1 914 678 0003</td>
														</tr>
														<tr>
															<td class="table-city__title">Office adress:</td>
															<td class="table-city__data">511 Warburton Ave</td>
														</tr>
													</table>
													<a href="tel:+19146780003" class="city-item__button">Call us</a>
												</div>
											</li>
											<li class="city-list__item city-item" id="14">
												<div class="city-item__body">
													<table class="city-item__table table-city">
														<tr>
															<td class="table-city__title">City:</td>
															<td class="table-city__data">Sherrill, NY</td>
														</tr>
														<tr>
															<td class="table-city__title">Phone:</td>
															<td class="table-city__data">+1 315 908 0004</td>
														</tr>
														<tr>
															<td class="table-city__title">Office adress:</td>
															<td class="table-city__data">14 WEST Noyes BLVD</td>
														</tr>
													</table>
													<a href="tel:+13159080004" class="city-item__button">Call us</a>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</main>
		<footer class="footer">
			<div class="footer__container">
				<div class="footer__row">
					<div class="footer__copyright">
						<span>©</span>
						<span>2022</span>
						<a href="https://github.com/dstrizhakov" target="_blank">github</a>
					</div>
					<span class="footer__rsschool">
						<a href="#">Rolling Scopes School</a>
					</span>
					<ul class="footer__social social-footer">
						<li>
							<a class="social-footer__link" href="https://rs.school/js-stage0/" target="_blank">
								<img height="32" width="32" src="img/social/inst.svg" alt="instagram">
							</a>
						</li>
						<li>
							<a class="social-footer__link" href="https://rs.school/js-stage0/" target="_blank">
								<img height="32" width="32" src="img/social/fb.svg" alt="facebook">
							</a>
						</li>
						<li>
							<a class="social-footer__link" href="https://rs.school/js-stage0/" target="_blank">
								<img height="32" width="32" src="img/social/tw.svg" alt="twitter">
							</a>
						</li>
						<li>
							<a class="social-footer__link" href="https://rs.school/js-stage0/" target="_blank">
								<img height="32" width="32" src="img/social/pinterest.svg" alt="pinterest">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</footer>
	</div>
	<script src="js/index.js"></script>
</body>

</html>